* {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
button {
    outline: 0;
}
img {
    display: block;
    border: 0;
}